openapi: 3.0.0
info:
  title: [제목]
  version: 1.0.0
  description: "[설명]"

servers:
  - description: "[서버 설명]"
    url: http://localhost:3000/docs

paths:
  /api/auth/signup:
    post:
      summary: 회원가입
      tags:
        - Auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nickname:
                  type: string
                  description: 닉네임
                password:
                  type: string
                  description: 비밀번호
              required:
                - nickname
                - password
      responses:
        "200":
          description: 회원가입 완료
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      id:
                        type: string
        "409":
          description: 이미 존재하는 사용자
        "500":
          description: 서버 내부 오류

  /api/auth/login:
    post:
      summary: 로그인
      tags:
        - Auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nickname:
                  type: string
                password:
                  type: string
              required:
                - nickname
                - password
      responses:
        "200":
          description: 로그인 완료
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      id:
                        type: string
        "401":
          description: 로그인 정보 불일치
        "404":
          description: 존재하지 않는 사용자
        "500":
          description: 서버 내부 오류
